{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block navbar_user %}
<div class="d-flex gap-2 align-items-center">
    <div>
        <img src="hello.jpg" class="img-thumbnail" alt="...">
    </div>
    <div class="content">
        <div class="content_name">User Name</div>
        <div class="content_links">
            <a href="#">Settings</a>
            <a href="#">Log Out</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="col vh-100">
    <div class="d-flex align-items-center gap-2 mb-4">
        <h1>New Question</h1>
    </div>
    <form>
        <div class="d-flex justify-content-around align-items-center mb-3">
            <label for="title_input" class="form-label col-1">Title</label>
            <input type="text" class="form-control flex-grow-1" id="title_input" placeholder="Type your question here">
        </div>

        <div class="d-flex justify-content-around align-items-center mb-3">
            <label for="text_input" class="form-label col-1 align-self-baseline">Text</label>
            <textarea class="form-control" placeholder="Type your question here" id="text_input"
                      style="height: 100px"></textarea>
        </div>

        <div class="d-flex justify-content-around align-items-center mb-3">
            <label for="tags_input" class="form-label col-1">Tags</label>
            <input type="text" class="form-control flex-grow-1" id="tags_input" placeholder="Type tags here">
        </div>

        <button type="submit" class="btn btn-primary">ASK!</button>
    </form>

</section>
{% endblock %}